            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ title }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" id="runcommand_form" action="/runcommand">
                        <div class="form-group">
                            <label>Run free linux commmand</label>
                            <input class="form-control" placeholder="enter command here" id="command" name="command">
                            <pre id="result" name="result"/>
                        </div>
                        <button type="submit" class="btn btn-default" id="runcommand_btn">Submit Button</button>
                    </form>
                </div>
                <!-- /.col-lg-6 -->
            </div>
           <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading" id="walker-toggler">
                            menu Walker
                        </div>
                        <div class="panel-body walker-toggle-me">
                            <p>{{collection.html_info()|safe}}</p>
                        </div>
                        <div class="panel-footer walker-toggle-me">
                            Panel Footer
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>            
            <!-- /.row -->
            <script type="text/javascript">
                $("#walker-toggler").click(function(){
                    $(".walker-toggle-me").toggle();   
                });
            </script>